[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"
flask = "~=1.1"
jsonschema = "*"
uWSGI = "*"
WTForms = "~=2.1"
PyYAML = "*"
pytz = "*"
SQLAlchemy = "~=1.3.0"
bleach = "*"
requests = "==2.21.0"
mysqlclient = "~=1.4.6"
mimesis = "~=2.1.0"
backports-datetime-fromisoformat = "*"
flask-session = "*"
mypy_extensions = "*"
mypy = "==0.720"
arxiv-auth = "~=0.4.2rc1"
arxiv-vault = "~=0.1.1rc15"
arxiv-base = "~=0.16.6"
arxiv-submission-core = "==0.7.2rc16"
pypdf2 = "==1.26.0"

[dev-packages]
pydocstyle = "*"
mimesis = "*"
coveralls = "*"
coverage = "*"
"nose2" = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
beautifulsoup4 = "*"

[pipenv]
allow_prereleases = true
