[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arxiv-base = {git = "https://github.com/cul-it/arxiv-base.git", editable = true, ref = "develop"}
dataclasses = "*"
Flask = "*"
jsonschema = "*"
uWSGI = "*"
WTForms = "==2.1"
PyYAML = "*"
pytz = "*"
SQLAlchemy = "*"
bleach = "*"
arxiv-auth = "==0.1.0rc10"
"3a3786f" = {path = "./../arxiv-submission-core/core"}

[dev-packages]
"nose2" = "*"
pylint = "*"
pydocstyle = "*"
mypy = "*"
mimesis = "*"
coveralls = "*"
coverage = "*"
