[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

arxiv-base = "==0.7.1"
arxiv-submission-events = "==0.2"
dataclasses = "*"
flask = "*"
jsonschema = "*"
uwsgi = "*"
wtforms = "==2.1"
pyyaml = "*"
pytz = "*"
dev = "*"
sqlalchemy = "*"


[dev-packages]

"nose2" = "*"
pylint = "*"
pydocstyle = "*"
mypy = "*"
mimesis = "*"
coveralls = "*"
coverage = "*"
