//colors
$color_celeste_approx: #ccc

@media only screen and (max-width: 320px)
  .box
    padding: unset
    padding-bottom: 0.75em

@media only screen and(max-width: 760px),(min-device-width: 768px) and(max-device-width: 1024px)
  table
    display: block

  thead
    display: block
    tr
      position: absolute
      top: -9999px
      left: -9999px


  tbody
    display: block

  th
    display: block

  td
    display: block
    border: none
    position: relative
    padding-left: 30%
    &:before
      position: absolute
      top: 6px
      left: 6px
      width: 45%
      padding-right: 10px
      white-space: nowrap

    &.user-submission
      &:nth-of-type(1):before
        content: "Status"
        font-weight: bold

      &:nth-of-type(2):before
        content: "Identifier"
        font-weight: bold

      &:nth-of-type(3):before
        content: "Title"
        font-weight: bold

      &:nth-of-type(4):before
        content: "Created"
        font-weight: bold

      &:nth-of-type(5):before
        content: "Actions"
        font-weight: bold


    &.user-announced
      &:nth-of-type(1):before
        content: "Identifier"
        font-weight: bold

      &:nth-of-type(2):before
        content: "Primary Classification"
        font-weight: bold

      &:nth-of-type(3):before
        content: "Title"
        font-weight: bold

      &:nth-of-type(4):before
        content: "Actions"
        font-weight: bold



  tr
    display: block
    border: 1px solid $color_celeste_approx

  .table
    td
      padding-left: 30%

    th
      padding-left: 30%


.box-new-submission
  padding: 2rem important

.button-create-submission
  margin-bottom: 1.5rem

.button-delete-submission
  border: 0px
  text-decoration: none


/* Welcome message -- "alpha" box */

/* This is the subtitle text in the "alpha" box. */
.subtitle-intro
  margin-left: 1.25em

.alpha-before
  position: relative
  margin-left: 2em
