.submit-nav
  margin-top: 2em

.table-footer
  border-bottom: 1px solid #ccc

.is-short-field
  max-width: 25rem

.form-margin
  margin: .4em 0

.is-centered-vertically
  margin-top: auto !important
  margin-bottom: auto !important

/* Used to indicate hierarchical directory tree in file upload */
.is-subdirectory
  margin-left: 2em

/* used in file tree to indicate errors and warnings */
tr.is-danger
  background-color: #fff5f5
  color: #970503
  border: 1px solid #cd0200
  td
    border-color: #cd0200
    &:first-child
      padding-left: 2em
      &:before
        content: '\f071'
        font-family: 'FontAwesome'
        color: #cd0200
        position: absolute
        left: .5em

tr.is-warning
  background-color: #fffaf5
  color: #5d3605
  border: 1px solid #d47500
  td
    border-color: #d47500
    &:first-child
      padding-left: 2em
      &:before
        content: '\f071'
        font-family: 'FontAwesome'
        color: #d47500
        position: absolute
        left: .5em
