.submit-nav
  margin-top: 2em

.form-margin
  margin: .4em 0

/* overrides for this form only? may move to base */

.field:not(:last-child)
  margin-bottom: 1.25em

.label:not(:last-child)
  margin-bottom: .25em

.buttons .button:not(:last-child)
  margin-right: .75rem

/* Classes for responsive bubble-style progress bar */

$bubblesize: 16px
$barsize: 16px
$completed: green
$incomplete: purple
$findme: red

ul.progressbar
  width: 100%
  > li
    color: findme
    text-align: center
    &:before
      content: ''
      display: block
      margin: 0 auto 4px
      background-color: #FFF
      width: $bubblesize
      height: $bubblesize
      text-align: center
      border: 2px solid $incomplete
      border-radius: 50%
    &:after
      content: ''
      height: 2px
      width: 100%
      background-color: $incomplete
      position: absolute
      top: $barsize / 2
      left: 50%
      z-index: -1
    &:last-child
      &:after
        display: none

    &.is-active
      &:before
        background-color: green
        border-color: green

      ~ li
        color: purple
        &:before
          background-color: aliceblue
          border-color: aliceblue
        &:after
          background-color: aliceblue
