.submit-nav
  margin-top: 2em

.form-margin
  margin: .4em 0

/* overrides for this form only? may move to base */

.field:not(:last-child)
  margin-bottom: 1.25em

.label:not(:last-child)
  margin-bottom: .25em

.buttons .button:not(:last-child)
  margin-right: .75rem
