{% extends "submit/base.html" %}


{% block title -%}Add or Edit Optional Metadata{%- endblock title %}

{% block within_content %}
<form method="POST" action="{{ url_for('ui.add_optional_metadata', submission_id=submission_id) }}">
  <div class="action-container">
    {{ form.csrf_token }}
    <div class="columns">
      <div class="column">
        {% with field = form.doi %}
        <div class="field is-short-field">
          <div class="control">
            <label class="label" id="doi-label" for="doi">{{ field.label.text }} <a href="{{ url_for('help_metadata') }}" class="help-bubble">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-blue" role="presentation"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg>
              <div class="bubble-text">This field is <strong>only</strong> for a DOI. Separate multiple DOIs with a space. Click for a detailed help page.</div></a>
            </label>
            {% if field.errors %}
              <div class="help is-danger">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            {% if field.description %}
            <p class="help has-text-grey is-marginless">
              {{ field.description|safe }}
            </p>
            {% endif %}
            {% if field.errors %}
              {{ field(class="input is-danger")|safe }}
            {% else %}
              {{ field(class="input")|safe }}
            {% endif %}
          </div>
        </div>
        {% endwith %}

        {% with field = form.journal_ref %}
        <div class="field is-short-field">
          <div class="control">
            <label class="label" id="journal_ref-label" for="journal_ref">{{ field.label.text }} <a href="{{ url_for('help_metadata') }}" class="help-bubble">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-blue" role="presentation"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg>
              <div class="bubble-text">Click for a detailed help page on journal reference formatting. Click for a detailed help page.</div></a>
            </label>
            {% if field.errors %}
              <div class="help is-danger">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            {% if field.description %}
            <p class="help has-text-grey is-marginless">
              {{ field.description|safe }}
            </p>
            {% endif %}
            {% if field.errors %}
              {{ field(class="input is-danger")|safe }}
            {% else %}
              {{ field(class="input")|safe }}
            {% endif %}
          </div>
        </div>
        {% endwith %}

        {% with field = form.report_num %}
        <div class="field is-short-field">
          <div class="control">
            <label class="label" id="report_num-label" for="report_num">{{ field.label.text }} <a href="{{ url_for('help_metadata') }}" class="help-bubble">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-blue" role="presentation"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg>
              <div class="bubble-text">This field is <strong>only</strong> for an institution-supplied number. Click for a detailed help page.</div></a>
            </label>
            {% if field.errors %}
              <div class="help is-danger">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            {% if field.description %}
            <p class="help has-text-grey is-marginless">
              {{ field.description|safe }}
            </p>
            {% endif %}
            {% if field.errors %}
              {{ field(class="input is-danger")|safe }}
            {% else %}
              {{ field(class="input")|safe }}
            {% endif %}
          </div>
        </div>
        {% endwith %}

        {% with field = form.acm_class %}
        <div class="field is-short-field">
          <div class="control">
            <label class="label" id="acm_class-label" for="acm_class">{{ field.label.text }} <a href="{{ url_for('help_metadata') }}" class="help-bubble">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-blue" role="presentation"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg>
              <div class="bubble-text">For classifications in CS only. Click for a detailed help page.</div></a>
            </label>
            {% if field.errors %}
              <div class="help is-danger">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            {% if field.description %}
            <p class="help has-text-grey is-marginless">
              {{ field.description|safe }}
            </p>
            {% endif %}
            {% if field.errors %}
              {{ field(class="input is-danger")|safe }}
            {% else %}
              {{ field(class="input")|safe }}
            {% endif %}
          </div>
        </div>
        {% endwith %}

        {% with field = form.msc_class %}
        <div class="field is-short-field">
          <div class="control">
            <label class="label" id="msc_class-label" for="msc_class">{{ field.label.text }} <a href="{{ url_for('help_metadata') }}" class="help-bubble">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-blue" role="presentation"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg>
              <div class="bubble-text">For classifications in math only. Click for a detailed help page.</div></a>
            </label>
            {% if field.errors %}
              <div class="help is-danger">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            {% if field.description %}
            <p class="help has-text-grey is-marginless">
              {{ field.description|safe }}
            </p>
            {% endif %}
            {% if field.errors %}
              {{ field(class="input is-danger")|safe }}
            {% else %}
              {{ field(class="input")|safe }}
            {% endif %}
          </div>
        </div>
        {% endwith %}
        </div>
        <div class="column">
          <div class="message">
            <div class="message-body">
              <p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-dark_grey" role="presentation"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/></svg> If this article has not yet been published elsewhere, this information can be <a href="{{ ('help_jref') }}">added at any later time</a> without submitting a new version.
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
  {{ submit_macros.submit_nav(submission_id) }}
</form>
{% endblock within_content %}
