{% extends "submit/base.html" %}

{% block within_content %}
<h2 class="is-size-4">Add or edit metadata</h2>

<form method="POST" action="{{ url_for('ui.add_metadata', submission_id=submission_id) }}">
  {{ form.csrf_token }}
  {% for field in form %}
  <div class="field">
    <div class="control">
      <label class="label">{{ field.label.text }} <span class="icon has-text-link"><i class="fa fa-question-circle"></i></span></label>
      {% if field.errors %}
        <div class="help is-danger">
          {% for error in field.errors %}
              {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      {% if field.description %}
      <p class="help has-text-grey is-marginless">
        {{ field.description|safe }}
      </p>
      {% endif %}
      {% if field.errors %}
        {{ field(class="input is-danger")|safe }}
      {% else %}
        {{ field(class="input")|safe }}
      {% endif %}
    </div>
  </div>
  {% endfor %}

  {{ submit_macros.submit_nav(submission_id) }}
</form>
{% endblock within_content %}
