{% extends "submit/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block within_content %}
<h2 class="is-size-4">Add or edit optional metadata</h2>

<form method="POST" action="{{ url_for('ui.add_optional_metadata', submission_id=submission_id) }}">
  {% for field in form %}

  <div class="field">
    <div class="control">
      <label class="label">*{{ field.label.text }} <span class="icon has-text-link"><i class="fa fa-question-circle"></i></span></label>
      {% if field.errors %}
        {{ field(class="input is-warning")|safe }}
      {% else %}
        {{ field(class="input")|safe }}
      {% endif %}
      {% if field.errors %}
        <div class="help is-warning">
          {% for error in field.errors %}
              {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      {% if field.description %}
      <p class="help has-text-grey">
        {{ field.description|safe }}
      </p>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  {{ submit_macros.submit_nav() }}
</form>
{% endblock within_content %}
