{% macro admin_upload(submission_id) %}
  <section class="section box has-background-light">
    <div class="columns">
      <div class="column is-narrow has-text-centered">
        <h2 class="is-uppercase">Admin</h2>
        <div class="field">
          <div class="control has-text-centered">
            <a class="button is-outlined is-link" href="">Download current as .tar</a>
          </div>
        </div>
        <div class="field">
          <div class="control has-text-centered">
            <a class="button is-outlined is-link" href="">Create checkpoint</a>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <!-- #TODO needs Bulma extension installed (preferably in base) to have the styled toggle, switch color to is-success for unchecked version. If possible, style label text into solid area of toggle. -->
            <input id="LockToggle" type="checkbox" name="LockToggle" class="switch is-rounded is-danger" checked="checked">
              <label for="LockToggle">LOCKED</label>
            <span>{% user.fullname %} 2019-04-20</span>
          </div>
        </div>
      </div>
      <div class="column">
        <h3 class="is-size-5">Checkpoints</h3>
        <div class="level has-background-white is-marginless" style="padding: 0.5em">
          <div class="level-left">
            <span class="level-item">
              2019-04-11T09:57:00Z
            </span>
            <span class="level-item">
              Title might be longer than this
            </span>
          </div>
          <div class="level-right">
            <div class="level-item">
              <div class="field">
                <div class="control">
                  <a href="" class="button is-link is-outlined is-small">Make current</a>
                  <a href="" class="button is-link is-outlined is-small">Download</a>
                  <a href="" class="button is-link is-outlined is-small"><span class="icon">
                    <i class="fa fa-trash"><span class="is-sr-only">Delete this checkpoint</span></i>
                  </span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="level has-background-grey-lighter is-marginless" style="padding: 0.5em">
          <div class="level-left">
            <span class="level-item">
              2019-04-11T09:57:00Z
            </span>
            <span class="level-item">
              Title might be longer than this
            </span>
          </div>
          <div class="level-right">
            <div class="level-item">
              <div class="field">
                <div class="control">
                  <a href="" class="button is-link is-outlined is-small">Make current</a>
                  <a href="" class="button is-link is-outlined is-small">Download</a>
                  <a href="" class="button is-link is-outlined is-small"><span class="icon">
                    <i class="fa fa-trash"><span class="is-sr-only">Delete this checkpoint</span></i>
                  </span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endmacro %}
