{% extends "submit/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block within_content %}
<h2 class="is-size-4">Confirm authorship or proxy approval</h2>
{% for field in form.authorship %}
  <div class="field">
    <div class="control">
      <div class="radio">
        {{ field|safe }}
        {{ field.label }}
      </div>
    </div>
  </div>
{% endfor %}

<div class="field">
  <div class="control" style="margin-left: 1.25em">
    <div class="checkbox">
      {{ form.proxy }}
      {{ form.proxy.label }}
    </div>
    {% if form.authorship.proxy.errors %}
      {% for error in form.authorship.proxy.errors %}
        <p class="help is-warning">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </div>
</div>

<div class="field">
  <div class="control" style="margin-left: 1.25em">
    <label class="checkbox">
    <input type="checkbox">
    By checking this box, I certify that I have received authorization from
    arXiv to submit papers on behalf of the authors.</label>
  </div>
</div>

{{ submit_macros.submit_nav() }}
{% endblock within_content %}
