{%- extends "base/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block addl_head %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/submit.css')}}" />
{% endblock addl_head %}

{% block content %}
  <h1 class="title">{% block title %}Submit an Article{% endblock title %}</h1>
  {% if submission_id %}
    {{ submit_macros.progress_bar(submission_id) }}
  {% endif %}
  <content>
    {% if form and form.errors %}
      {% if form.errors.events %}
      <div class="notification is-warning">
        {% for error in form.errors.events %}
        <li>{{ error }}</li>
        {% endfor %}
      </div>
      {% endif %}
    {% endif %}
    {% block within_content %}
      Specific content here
    {% endblock within_content %}
  </content>
{% endblock content %}
