{%- extends "base/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block addl_head %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/submit.css')}}" />
 <script src="{{ url_for('static', filename='js/filewidget.js') }}"></script>
{% endblock addl_head %}

{% block content %}
{% if submission_id and stage %}
  {{ submit_macros.progress_bar(submission_id, stage, this_stage) }}
{% endif %}
  <h1 class="title">
    {% block title_preamble %}{% if submission and submission.version > 1 %}Submit a Replacement{% else %}Submit an Article{% endif %}: {% endblock %}{% block title %}{% endblock title %}
  </h1>
  {% if submission and submission.version > 1 %}
    <h2 class="replacement is-size-5 has-text-dark">Replacement for: arXiv:{{ submission.arxiv_id }}v{{ submission.version }} {{ submission.metadata.title }}</h2>
  {% endif %}
  <content>
    {% if immediate_notifications %}
      {% for notification in immediate_notifications %}
      <div class="notification is-{{ notification.severity }}" role="alert">
        {% if notification.title %}<h2 class="is-size-5 is-marginless">{{ notification.title }}</h2>{% endif %}
        <p>
          {{ notification.body}}
        </p>
      </div>
      {% endfor %}
    {% endif %}
    {% if form and form.errors %}
      {% if form.errors.events %}
      <div class="notification is-danger">
        {% for error in form.errors.events -%}
        <li>{{ error }}</li>
        {%- endfor %}
      </div>
      {% endif %}
    {% endif %}
    {% block within_content %}
      Specific content here
    {% endblock within_content %}
  </content>
{% endblock content %}
