{% extends "submit/base.html" %}



{% block within_content %}
<h2 class="is-size-4">Choose a primary classification</h2>
<form method="POST" action="{{ url_for('ui.classification', submission_id=submission_id) }}">
  {{ form.csrf_token }}
  {% with field = form.category %}
  <div class="field breathe-vertical">
    <div class="control">
      <div class="is-block">
      {{ field.label(class_="label is-inline-block") }} <a href="help link as modal"><i class="fa fa-question-circle is-info"></i></a>
    </div>
      <div class="select">
      {% if field.errors %}
        {{ field(class="is-danger")|safe }}
      {% else %}
        {{ field()|safe }}
      {% endif %}
      </div>
      {% if field.errors %}
        <div class="help is-danger">
          {% for error in field.errors %}
              {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      {% if field.description %}
      <p class="help has-text-grey">
        {{ field.description|safe }}
      </p>
      {% endif %}
    </div>
  </div>
  {% endwith %}

  <div class="message is-link is-inline-block submit-nav">
    <div class="message-body">
      <p><span class="icon has-text-link"><i class="fa fa-info-circle"></i></span>
      You may add categories to the list and change defaults in your <a href="#">user account settings</a>.</p>
    </div>
  </div>
  {{ submit_macros.submit_nav() }}
</form>
{% endblock within_content %}
