{% extends "submit/base.html" %}

{% block title -%}Submission Received{%- endblock title %}

{% block within_content %}
<div class="columns">
  <div class="column">
    <div class="message is-success">
      <div class="message-body">
        <p class="has-font-weight-bold"><span class="icon"><i class="fa fa-check-circle"></i></span> Your submission has been successfully received.</p>
        <p>Your submission time stamp is: {{ submission.submitted.strftime('%FT%TZ') }}.</p>
        <!-- TODO: change this link to whatever the URL for manage submissions will be -->
      </div>
    </div>
  </div>
</div>

<div class="buttons">
  <a class="button is-link" href="{{ url_for('ui.manage_submissions') }}">Manage My Submissions</a>
  <!-- TODO: this link too -->
  <a class="button" href="{{ url_for('home') }}">arXiv Home Page</a>
</div>

{% endblock within_content %}
