{% extends "submit/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block title -%}Delete All Files{%- endblock title %}

{% block within_content %}
<form method="POST" action="{{ url_for('ui.file_delete_all', submission_id=submission_id) }}">
  {{ form.csrf_token }}
  <div class="container breathe-vertical" style="max-width: 640px">
    <div class="message is-danger is-inline-block">
      <div class="message-body">
        <h3 class="is-size-5 has-text-weight-bold has-text-primary">
          This action will remove all of the files that you have uploaded. This
          cannot be reversed!
        </h3>
        {{ form.csrf_token }}
        <input type="hidden" name="confirmed", value="true" />
        <div class="buttons is-centered">
            <a class="button" href="{{ url_for('ui.file_upload', submission_id=submission_id) }}">Keep all files</a>
            <button class="button is-primary" type="submit">Delete all files</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock within_content %}
