{% extends "submit/base.html" %}

{% block within_content %}
<div class="columns">
  <div class="column is-one-third">
    <p class="help-text">Click on the button below to start a new submission.</p>

    <form class="form" method="POST" action="{{ url_for('ui.create_submission') }}">
      {{ form.csrf_token }}
      <button name="new" class="button" value="new" aria-label="New submission">New submission</button>
    </form>
  </div>
  <div class="column is-two-thirds">
    {% for submission in user_submissions %}
    <div class="box">

      <div class="level">
        <div class="level-left">
          Submission {{ submission.submission_id }}; created {{ submission.created|timesince }}
        </div>
        {{ submission.status}}
        {% if submission.published %}
        <div class="level-right">
          {% if submission.has_active_requests %}
            {% for request in submission.active_user_requests %}
            <div class="tags has-addons">
              <span class="tag is-dark">{{ request.NAME }}</span>
              <span class="tag is-info">{{ request.status }}</span>
            </div>
            {% endfor %}
          {% else %}
          <form class="form" method="POST" action="{{ url_for('ui.create_replacement', submission_id=submission.submission_id) }}">
            {{ form.csrf_token }}
            <button name="new" class="button is-link is-small" value="new" aria-label="New version (replacement)">Replace</button>
            <a href="{{ url_for('ui.jref', submission_id=submission.submission_id) }}" class="button is-link is-small" aria-label="Update journal reference">Add Journal Reference</a>
            <a href="{{ url_for('ui.withdraw', submission_id=submission.submission_id) }}" class="button is-link is-small" aria-label="Request withdrawal">Withdraw</a>
            <a href="{{ url_for('ui.request_cross', submission_id=submission.submission_id) }}" class="button is-link is-small" aria-label="Request cross-list">Add cross-list</a>
          </form>
          {% endif %}

        </div>
        {% endif %}
      </div>
      {% if not submission.published and not submission.has_active_requests %}
      <li>
        <a href="{{ get_next_stage_for_submission(submission) }}">Version {{ submission.version }}; updated {{ submission.updated|timesince }}</a>. <span class="tag">{{ submission.status }}</span>
        <a href="{{ url_for('ui.delete_submission', submission_id=submission.submission_id) }}">
          <span class="icon">
            <i class="fa fa-trash" aria-label="Delete"><span class="sr-only">Delete this submission</span></i>
          </span>
        </a>
      </li>
      {% endif %}
      {% for version in submission.versions %}
        <li>
          arXiv:{{ version.arxiv_id }}v{{ version.version }}; published {{ version.updated|timesince }}. <span class="tag">{{ version.status }}</span>
          {% if version.user_requests %}
            <ul style="margin-top: 0px;">
              {% for request_id, request in version.user_requests.items() %}
                <li>{{ request.NAME }} requested {{ request.created|timesince }}, {{ request.status }} {{ request.updated|timesince }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>

      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
