{% extends "submit/base.html" %}

{% block title -%}Errors and Help{%- endblock title %}

{% block within_content %}
<div class="columns">
  <div class="column">
    <nav id="List of errors">
      <div>-------------</div>
      <ul>
        <li><a href="#file-has-unsupported-characters">File name contains unsupported characters</a></li>
        <li><a href="#unable-to-rename">Unable to automatically rename [filename]</a></li>
        <li><a href="#file-starts-with-hyphen">File name starts with a hyphen</a></li>
        <li><a href="#hidden-file">Hidden file</a></li>
        <li><a href="#hyperlink-compatible">Hyperlink-compatible package</a></li>
        <li><a href="#file-not-allowed">Conflicting file</a></li>
        <li><a href="#bibtex">BibTeX file removed</a></li>
        <li><a href="#file-already-included">File already included in TeXLive</a></li>
        <li><a href="#time-dependent-file">Time dependent package</a></li>
        <li><a href="#aa-example-file">aa.dem example file detected</a></li>
        <li><a href="#name-conflict">Name conflict detected</a></li>
        <li><a href="#second-unsupported-character">Unsupported character in file name - should this be identical to first?</a></li>
        <li><a href="#failed-doc">Failed doc - Internal error only?</a></li>
      </ul>
    </nav>
    <nav id="Help messages">
      <div>--------------</div>
      <ul>
        <li><a href="#deleted-files">Deleted files</a></li>
        <li><a href="#ancillary-files">Ancillary files</a></li>
      </ul>
    </nav>
  </div>
  <div class="column is-four-fifths">
    <h3>File Upload Errors</h3>
      <dl>
        <dt id="file-has-unsupported-characters" class="has-text-weight-bold">file-has-unsupported-characters</dt>
        <dd>File name contains unsupported characters. Renamed <code>file_name</code> to <code>new_file_name</code>. Check and modify any file paths that reference this file.</dd>
        <dd>File names for arXiv may only contain <code>a-z A-Z 0-9 . , - _ =</code>. This file has been automatically renamed to a supported character set, but any references to this file in other documents are not automatically corrected.</dd>

        <dt id="unable-to-rename" class="has-text-weight-bold">unable-to-rename</dt>
        <dd>Unable to automatically rename <code>file_name</code>. Change file name and modify any file paths that reference this name.</dd>
        <dd>File names for arXiv may only contain <code>a-z A-Z 0-9 . , - _ =</code>. This file name, and any references to this file within other documents in the upload, must be renamed with the allowed character set.</dd>

        <dt id="file-starts-with-hyphen" class="has-text-weight-bold">file-starts-with-hyphen</dt>
        <dd>File name starts with a hyphen. Renamed <code>file_name</code> to <code>new_file_name</code>. Check and modify any file paths that reference this file.</dd>
        <dd>Hyphens are not allowed at the beginning of file names. This file has been automatically renamed to remove the hyphen, but any references to this file in other documents are not automatically corrected.</dd>

        <dt id="hidden-file" class="has-text-weight-bold">hidden-file</dt>
        <dd>Hidden file <code>file_name</code> has been detected and removed.</dd>
        <dd>Files beginning with a . are not allowed and are automatically removed.</dd>

        <dt id="hyperlink-compatible" class="has-text-weight-bold">hyperlink-compatible</dt>
        <dd>Hyperlink-compatible package <code>package_name</code> detected and removed. A local hypertex-compatible package <code>name?</code> will be used.</dd>
        <dd>Styles that conflict with TeXLive 2016's internal hypertex package, such as espcrc2 and lamuphys, are removed. Instead, a local version of these style packages that are compatible with hypertext will be used.</dd>

        <dt id="file-not-allowed" class="has-text-weight-bold">file-not-allowed</dt>
        <dd>Conflicting file <code>file_name</code> detected and removed.</dd>
        <dd>Files named `uufiles` or `core` or `splread.1st` will conflict with TeXLive 2016 and are automatically removed. These files re.search(r'^xxx\.(rsrc$|finfo$|cshrc$|nfs)', file_name) or re.search(r'\.[346]00gf$', file_name) or (re.search(r'\.desc$', file_name) and file_size < 10) are also automatically removed.</dd>

        <dt id="bibtex" class="has-text-weight-bold">bibtex</dt>
        <dd>BibTeX file <code>file_name</code> removed. Please upload .bbl file instead.</dd>
        <dd>We do not run BibTeX or store .bib files.</dd>

        <dt id="file-already-included" class="has-text-weight-bold">file-already-included</dt>
        <dd>File <code>file_name</code> is already included in TeXLive, removed from submission.</dd>
        <dd>These files are included in TeXLive, and are removed from individual submissions. re.search(r'^(10pt\.rtx|11pt\.rtx|12pt\.rtx|aps\.rtx|revsymb\.sty|revtex4\.cls|rmp\.rtx)$', file_name)</dd>

        <dt id="time-dependent-file" class="has-text-weight-bold">time-dependent-file</dt>
        <dd>Time dependent package <code>package_name</code> detected and removed. Replaced with <code>filename_internal</code>.</dd>
        <dd>This diagrams package stops working after a specified date. File is removed and replaced with an internal diagrams package that works for all time. re.search(r'^diagrams\.(sty|tex)$', file_name)</dd>

        <dt id="aa-example-file" class="has-text-weight-bold">aa-example-file</dt>
        <dd>Example file <code>aa.dem</code> detected and removed.</dd>
        <dd>Example files for the Astronomy and Astrophysics macro package aa.cls are not needed for any specific build, removed as unnecessary.</dd>

        <dt id="name-conflict" class="has-text-weight-bold">name-conflict</dt>
        <dd>Name conflict in <code>file_name</code> detected, file removed.</dd>
        <dd>Naming conflicts are caused by files that are TeX-produced output, and can cause potential build corruption and/or conflicts.</dd>

        <dt id="second-unsupported-character" class="has-text-weight-bold">second-unsupported-character</dt>
        <dd>File <code>file_name</code> contains unsupported character \"$&\". Renamed to <code>new_file_name</code>. Check and modify any path references to this file to avoid compilation errors.</dd>
        <dd>Attempted fix for this already, would only see this error if renaming failed for some reason or there were multiple character errors in one file name.</dd>

        <dt id="failed-doc" class="has-text-weight-bold">failed-doc</dt>
        <dd>file_name.endswith('.doc') and type == 'failed':
                        # Doc warning
                        # TODO: Get doc warning from message class
                        msg = ''</dd>
        <dd>no failed docs</dd>
      </dl>

    <h3>File Upload Messages</h3>
      <dl>
        <dt id="deleted-files" class="has-text-weight-bold">deleted-files</dt>
        <dd>Deleting a file removes it permanently from a submission. It is important to delete any files that are not needed or used during TeX compilation or included in /anc for supplemental information.</dd>

        <dt id="ancillary-files" class="has-text-weight-bold">ancillary-files</dt>
        <dd>Files that provide supporting content but are not part of a submission's primary document files are moved into an /anc directory. Checking the "Ancillary" box during upload will create an /anc directory and move uploaded files into that directory. To specify ancillary files in a single .tar upload, create the /anc directory and place ancillary files there. This prevents the TeX compiler from including files in the build that may slow or stop the compilation process and cause unwanted errors.</dd>
      </dl>
  </div>
</div>

{% endblock within_content %}
