{% extends "submit/base.html" %}

{% macro display_tree(key, item, even) %}
  {% if key %}
  <li class="{% if item.errors %}is-warning{% elif item.modified and item|just_updated %}is-success{% elif even %}even{% endif %}">
  {% endif %}
    {% if item.name %}
    <div class="columns">
      <div class="column">
        {{ item.name }}
      </div>
      <div class="column">
          <div class="columns is-mobile">
            <div class="column">{{ item.size|filesizeformat }}</div>
            <div class="column">{{ item.modified|timesince }}</div>
            <div class="column has-text-centered is-1">
             <a href="{{ url_for('ui.file_delete', submission_id=submission_id) }}?path={{ item.path }}">
               <span class="icon">
                 <i class="fa fa-trash" aria-label="Delete"></i>
               </span>
             </a>
            </div>
          </div>
      </div>
    </div>
    {% else %}
    {% if key %}<span class="icon"><i class="fa fa-folder-open-o"></i></span>{{ key }}/{% endif %}
    <ol class="{% if not key %}file-tree{% endif %}" style="list-style-type: none;">
      {% for k, subitem in item.items() %}
      {{ display_tree(k, subitem, loop.cycle('', 'even')) }}
      {% endfor %}
    </ol>
    {% endif %}
    {% if item.errors %}
        {% for error in item.errors %}
        <p class="help has-text-weight-bold is-marginless {% if error.error_type == error.Levels.ERROR %}is-danger{% else %}is-warning{% endif %}">
          {{ error.message }}
        </p>
        {% endfor %}
      {% endif %}
  {% if key %}
  </li>
  {% endif %}
{% endmacro %}

{% block title -%}Upload files{%- endblock title %}

{% block within_content %}

<div class="columns">
  <div class="column is-two-thirds-desktop is-three-quarters-tablet">
    <form class="form" action="{{ url_for('ui.file_upload', submission_id=submission_id) }}" method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="field is-grouped is-grouped-multiline">
        <div class="control is-expanded">
          <div class="file has-name is-fullwidth">
            <label class="file-label">
              {{ form.file(class="file-input") }}
              <span class="file-cta">
                <span class="file-icon"><i class="fa fa-upload"></i></span>
                <span class="file-label">Choose a file…</span>
              </span>
              <span id="filename" class="file-name">Select a file to upload</span>
            </label>
          </div>
        </div>
        <div class="control" style="margin-top: .35em">
          <label class="checkbox">
            {{ form.ancillary }} Ancillary <a class="icon has-text-link help-bubble" href="https://arxiv.org/help/ancillary_files"><i class="fa fa-info-circle"></i><div class="bubble-text">Ancillary files will be placed in an /anc directory automatically.</div></a>
        </div>
        <div class="control">
          <button type="submit" class="button is-link">Upload</button>
        </div>
      </div>
      <p class="is-marginless help has-text-grey">
        You can upload all your files at once as a single .tar.gz or .zip file, or upload individual files as needed.
      </p>

    {% if status.files %}
    <h3>Files currently attached to this submission ({{ status.size|filesizeformat }})</h3>

    {{ display_tree(None, status.files|group_files) }}

    <p class="help has-text-right" style="margin-right: .5rem">
      <a href="{{ url_for('ui.file_delete_all', submission_id=submission_id) }}">
        Remove All<span class="icon"><i class="fa fa-trash" aria-label="Delete all"></i></span></a>
    </p>
    {% else %}
    <p class="title is-4 breathe-vertical has-text-centered">
      There's nothing here!
    </p>
    {% endif %}
  </div>
  <div class="column is-one-third-desktop is-one-quarter-tablet">
    <div class="message is-info">
      <div class="message-body">
        <div class="is-pulled-left">
          <span class="icon has-text-link"><i class="fa fa-info-circle"></i></span>
        </div>

        <p class="has-text-weight-semibold">Accepted File Formats</p>
        <ul>
          <li>(La)TeX, AMS(La)TeX, PDFLaTeX</li>
          <li>PDF</li>
          <li>PostScript</li>
          <li>HTML</li>
        </ul>

        <p class="has-text-weight-semibold">Accepted Image Formats</p>
        <ul>
          <li>PDF or EPS</li>
          <li>JPG, GIF, PNG</li>
          <li>SVG?</li>
        </ul>


        <p class="has-text-weight-semibold">Accepted File Properties</p>
        <ul>
          <li>Names containing a-z A-Z 0-9 . , - _</li>
          <li>Individual files less than [x]MB</li>
          <li>Total size less than [x]MB</li>
        </ul>


        <p class="has-text-weight-semibold">Style and Class Files</p>
        <ul>
          <li><a href="#">Default packages</a></li>
          <li><a href="#">What to include</a></li>
          <li><a href="#">Upload FAQ</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>

{{ submit_macros.submit_nav() }}
</form>
{% endblock within_content %}
