{% extends "submit/base.html" %}

{% block within_content %}
<h2 class="is-size-4">Process Files</h2>
<form method="POST" action="{{ url_for('ui.file_process', submission_id=8) }}">
<div class="columns">
  <div class="column">
    <div class="field is-grouped">
      <div class="control">
        <label class="label" id="compiler">Compiler: <span class="icon has-text-link"><i class="fa fa-question-circle"></i></span></label>
        <div class="select">
          <select aria-labelledby="compiler">
            <option>pdflatex</option>
            <option>some other compiler</option>
          </select>
        </div>
        <button type="button" class="button is-link">Process</button>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="message is-info">
      <div class="message-body">
        <p><span class="icon has-text-link"><i class="fa fa-info-circle"></i></span>
        This step runs all files through a series of automatic checks.<br />
         Additionally, TeX and LaTeX source packages will be compiled into a PDF.</p>
      </div>
    </div>
    <div class="message is-info">
      <div class="message-body">
        <p><span class="icon has-text-link"><i class="fa fa-info-circle"></i></span>
        Our system has automatically detected your files as type <strong>filetype</strong>.</p>
        <p> If your submission is not of the type shown above, or if you know which
          <a href="#">TeXLive 2016</a> compiler will process your files best,
          choose that compiler. If you do not know which compiler will process best,
          leave this default alone.</p>
      </div>
    </div>
  </div>
</div>

{{ submit_macros.submit_nav() }}
</form>
{% endblock within_content %}
