{% extends "submit/base.html" %}

{% block addl_head %}
{{super()}}
 <script src="{{ url_for('static', filename='js/filewidget.js') }}"></script>
{% endblock addl_head %}

{% macro display_tree(key, item, even) %}
  {% if key %}
  <li class="{% if item.errors %}is-warning{% elif item.modified and item|just_updated %}is-success{% endif %} {% if even %}even{% endif %}">
  {% endif %}
    {% if item.name %}
    <div class="columns">
      <div class="column">
        {{ item.name }}
      </div>
      <div class="column is-one-third-tablet">
          <div class="columns is-mobile">
            <div class="column">{{ item.size|filesizeformat }}</div>
            <div class="column">{{ item.modified|timesince }}</div>
            <div class="column has-text-centered is-narrow">
             <a href="{{ url_for('ui.file_delete', submission_id=submission_id) }}?path={{ item.path }}" aria-label="Delete {{ item.name }}">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon"><path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/></svg>
               <span class="is-sr-only">Delete file</span>
             </a>
            </div>
          </div>
      </div>
    </div>
    {% else %}
    {% if key %}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="icon filter-blue" role="presentation"><path d="M572.694 292.093L500.27 416.248A63.997 63.997 0 0 1 444.989 448H45.025c-18.523 0-30.064-20.093-20.731-36.093l72.424-124.155A64 64 0 0 1 152 256h399.964c18.523 0 30.064 20.093 20.73 36.093zM152 224h328v-48c0-26.51-21.49-48-48-48H272l-64-64H48C21.49 64 0 85.49 0 112v278.046l69.077-118.418C86.214 242.25 117.989 224 152 224z"/></svg>
    {{ key }}/{% endif %}
    <ol class="{% if not key %}file-tree{% endif %}" style="list-style-type: none;">
      {% for k, subitem in item.items() %}
      {{ display_tree(k, subitem, loop.cycle('', 'even')) }}
      {% endfor %}
    </ol>
    {% endif %}
    {% if item.errors %}
        {% for error in item.errors %}
        <p class="help has-text-weight-bold is-marginless {% if error.error_type == FileErrorLevels.ERROR %}is-danger{% else %}is-warning{% endif %}">
          {{ error.message }}
        </p>
        {% endfor %}
      {% endif %}
  {% if key %}
  </li>
  {% endif %}
{% endmacro %}

{% block title -%}Upload Files{%- endblock title %}


{% if immediate_notifications %}
  {% for notification in immediate_notifications %}
  <div class="notification is-{{ notification.severity }}" role="alert" aria-atomic="true">
    {% if notification.title %}<h2 class="is-size-5 is-marginless">{{ notification.title }}</h2>{% endif %}
    <p>
      {{ notification.body}}
    </p>
  </div>
  {% endfor %}
{% endif %}


{% block within_content %}
<p>TeX and (La)TeX submissions are highly encouraged. This format is the most likely to retain readability and high-quality output in the future. TeX source uploaded to arXiv will be made publicly available.</p>
<form class="form" action="{{ url_for('ui.file_upload', submission_id=submission_id) }}" method="POST" enctype="multipart/form-data">
  <div class="columns action-container">

    <div class="column is-one-half-desktop is-one-half-tablet">
      {{ form.csrf_token }}
      <div class="field is-grouped is-grouped-multiline">
        <div class="control is-expanded">
          <div class="file has-name is-fullwidth">
            <label class="file-label">
              {{ form.file(class="file-input") }}
              <span class="file-cta">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon" role="presentation"><path d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"/></svg>
                <span class="file-label">Choose a file…</span>
              </span>
              <span id="filename" class="file-name">Select a file to upload</span>
            </label>
          </div>
        </div>
        <div class="control" style="margin-top: .35em">
          <label class="checkbox">
            {{ form.ancillary }} Ancillary
            <a class="icon has-text-link help-bubble" href="{{ url_for('help_ancillary_files') }}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-blue" role="presentation"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg>
              <span class="is-sr-only">Click to learn more about ancilarry files</span>
              <div class="bubble-text">Ancillary files will be placed in an /anc directory automatically. Click to learn more.</div>
            </a>
          </label>
        </div>
        <div class="control">
          <button id="file-submit" type="submit" class="button is-link" disabled>Upload</button>
        </div>
      </div>
      {% if form.file.errors %}
        {% for error in form.file.errors %}
          <p class="help is-danger field-error">{{ error }}</p>
        {% endfor %}
      {% endif %}
      <p class="is-marginless help has-text-grey upload-notes">
        You can upload all your files at once as a single .zip or .tar.gz file, or upload individual files as needed.
        <br><br>
        <strong>Avoid common causes of delay:</strong> Make sure included files match the filenames exactly (it is case sensitive),
        and verify your references, citations and captions.
      </p>
      {% if status and status.errors %}
        {% for error in status.errors %}
        <p class="help has-text-weight-bold is-marginless {% if error.error_type == FileErrorLevels.ERROR %}is-danger{% else %}is-warning{% endif %}">
          {{ error.message }}
        </p>
        {% endfor %}
      {% endif %}

      {% if status and status.files %}
      <h3>Files currently attached to this submission ({{ status.size|filesizeformat }})</h3>

      {{ display_tree(None, status.files|group_files) }}

      <p class="help has-text-right" style="margin-right: .5rem">
        <a href="{{ url_for('ui.file_delete_all', submission_id=submission_id) }}">
          Remove All
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon filter-blue" role="presentation"><path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/></svg>
        </a>
      </p>
      {% elif error %}
      <p class="title is-4 breathe-vertical has-text-centered has-text-danger">
        Something isn't working right now. Please try again.
      </p>
      {% else %}
      <p class="title is-4 breathe-vertical has-text-centered">
        No files have been uploaded yet.
      </p>
      {% endif %}
    </div>

    <div class="column is-one-half-desktop is-one-half-tablet">
      <div class="message">
        <div class="message-body">
          <p class="has-text-weight-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-dark_grey" role="presentation"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/></svg>
            Accepted formats, in order of preference
          </p>
          <ul>
            <li><a href="{{ url_for('help_submit_tex') }}">(La)TeX or PDFLaTeX</a> | <a href="{{ url_for('help_submit_pdf') }}">PDF</a> | <a href="{{ url_for('help_submit_html') }}">HTML</a> (for proceedings index only)</li>
            <li>PDF documents created from TeX are not typically accepted. <a href="{{ url_for('help_whytex') }}">Why?</a></li>
          </ul>
          <p class="has-text-weight-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-dark_grey" role="presentation"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/></svg>
            Accepted formats for figures
          </p>
          <ul>
            <li>(La)TeX: Postscript</li>
            <li>PDFLaTeX: JPG, GIF, PNG, or PDF</li>
          </ul>
          <p class="has-text-weight-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-dark_grey" role="presentation"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/></svg>
            Accepted file properties
          </p>
          <ul>
            <li>Names containing a-z A-Z 0-9 . , - _</li>
            <li>Total compressed package size limit is 6MB, and uncompressed is 18MB</li>
            <li>More information about <a href="{{ url_for('help_submit_sizes') }}">submission size and exemptions to size limits</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
{{ submit_macros.submit_nav(submission_id) }}
</form>

{% endblock within_content %}
