{% extends "submit/base.html" %}

{% block title -%}Preview and Approve your Submission{%- endblock title %}

{% block within_content %}

{% if submission.version > 1 %}
  {% set arxiv_id = submission.arxiv_id %}
{% else %}
  {% set arxiv_id = "0000.00000" %}
{% endif %}

{{ macros.abs(
  arxiv_id,
  submission.metadata.title,
  submission.metadata.authors_display,
  submission.metadata.abstract,
  submission.created,
  submission.primary_classification.category,
  comments = submission.metadata.comments,
  msc_class = submission.metadata.msc_class,
  acm_class = submission.metadata.acm_class,
  journal_ref = submission.metadata.journal_ref,
  doi = submission.metadata.doi,
  report_num = submission.metadata.report_num,
  version = submission.version,
  submission_history = submission_history,
  secondary_categories = submission.secondary_categories) }}

<form method="POST" action="{{ url_for('ui.final_preview', submission_id=submission_id) }}">
  {{ form.csrf_token }}
  {% if form.proceed.errors %}<div class="notification is-danger">{% endif %}
  <div class="field">
    <div class="control">
      <div class="checkbox">
        {{ form.proceed }}
        {{ form.proceed.label }}
      </div>
      {% for error in form.proceed.errors %}
        <p class="help is-danger">{{ error }}</p>
      {% endfor %}
    </div>
  </div>
  {% if form.proceed.errors %}</div>{% endif %}

  <div class="buttons submit-nav" role="navigation">
      <a href="{{ url_for('ui.delete_submission', submission_id=submission_id) }}" name="cancel" class="button has-text-grey is-light is-outlined" style="border:0" value="cancel" aria-label="Cancel submission" title="Cancel submission"><span class="icon"><i class="fa fa-trash fa-lg"></i></a>
      <button name="action" class="button" value="previous" aria-label="Go back one step">Go Back</button>
      <button name="action" type="submit" class="button" value="save_exit" aria-label="Save and Exit">Save and Exit</button>
      <button name="action" class="button is-link" value="next" aria-label="Save and continue" style="background-color: #20ff05; color: #000;">
        Submit to arXiv
        <img src="https://arxiv.org/favicon.ico" style="height: 20px; margin-left: 2px;" />
      </button>
  </div>

</form>

{% endblock within_content %}
