{% extends "submit/base.html" %}

{% block title -%}Review and Approve Your Submission{%- endblock title %}

{% block within_content %}
<div class="columns">
  <div class="column">
    <div class="message is-warning">
      <div class="message-body">
        <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-orange" role="presentation"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/></svg> <span class="has-text-weight-bold">Review your submission carefully!</span>
          Editing your submission after clicking "confirm and submit" will remove your paper from the queue.
          A new timestamp will be assigned after resubmitting.</p>
        <p>Note that a citation link with your final arxiv identifier is not available until after the submission is accepted and published.</p>
        <p>Once your submission has been announced, amendments to files or core metadata may only be made through
          <a href="{{ url_for('help_replace') }}">replacement</a> or <a href="{{ url_for('help_withdraw')}}">withdrawal</a>.
          <em>Exception: You will be able to update <a href="{{ url_for('help_jref')}}">journal reference, DOI, MSC or ACM classification, or report number information</a> at any time without a new revision.</em></p>
      </div>
    </div>
  </div>
</div>

{% if submission.version > 1 %}
  {% set arxiv_id = submission.arxiv_id %}
{% else %}
  {% set arxiv_id = "0000.00000" %}
{% endif %}

<div class="content-container">
{{ macros.abs(
  arxiv_id,
  submission.metadata.title,
  submission.metadata.authors_display|tex2utf,
  submission.metadata.abstract,
  submission.created,
  submission.primary_classification.category,
  comments = submission.metadata.comments,
  msc_class = submission.metadata.msc_class,
  acm_class = submission.metadata.acm_class,
  journal_ref = submission.metadata.journal_ref,
  doi = submission.metadata.doi,
  report_num = submission.metadata.report_num,
  version = submission.version,
  submission_history = submission_history,
  secondary_categories = submission.secondary_categories) }}
</div>


<form method="POST" action="{{ url_for('ui.final_preview', submission_id=submission_id) }}">

  <div class="content-container">
    <a href="{{ url_for('ui.add_metadata', submission_id=submission_id) }}" class="button is-small is-link is-outlined">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-blue" role="presentation"><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/></svg>
      <span class="has-text-weight-normal">Edit Metadata</span>
    </a>
    <a href="{{ url_for('ui.file_upload', submission_id=submission_id) }}" class="button is-small is-link is-outlined">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-blue" role="presentation"><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/></svg>
      <span class="has-text-weight-normal">Edit Uploaded Files</span>
    </a>
    <a href="{{ url_for('ui.file_preview', submission_id=submission_id) }}" target="_blank" class="button is-small is-link">
      <span>View PDF</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-white" role="presentation"><title>PDF will open in a new tab</title><path d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"/></svg>
    </a>
  </div>

  <div class="action-container">
    {{ form.csrf_token }}
    {% if form.proceed.errors %}<div class="notification is-danger">{% endif %}
    <div class="field">
      <div class="control">
        <div class="checkbox">
          {{ form.proceed }}
          {{ form.proceed.label }}
        </div>
        {% for error in form.proceed.errors %}
          <p class="help is-danger field-error">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    {% if form.proceed.errors %}</div>{% endif %}
  </div>

  <div class="buttons submit-nav" role="navigation" aria-label="Submission form controls">
      <a href="{{ url_for('ui.delete_submission', submission_id=submission_id) }}" name="cancel" class="button is-size-6 is-size-7-mobile" style="border:0" value="cancel" aria-label="Cancel submission" title="Cancel submission">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon" role="presentation"><path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/></svg>
        Cancel and Delete
      </a>
      <button name="action" class="button is-size-6 is-size-7-mobile" value="previous" aria-label="Go back one step">Go Back</button>
      <button name="action" type="submit" class="button is-size-6 is-size-7-mobile" value="save_exit" aria-label="Save and Exit">Save and Exit</button>
      <button name="action" class="button is-success is-size-6 is-size-7-mobile" value="next" aria-label="Confirm and submit">Confirm and Submit</button>
  </div>
</form>
{% endblock within_content %}
