{%- extends "base/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block addl_head %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/submit.css')}}" />
 <script src="{{ url_for('static', filename='js/filewidget.js') }}"></script>
{% endblock addl_head %}

{% block content %}
  <h1 class="title">Update Journal Reference, DOI, or Report Number</h1>
  {% if require_confirmation and not confirmed %}
  <div class="notification is-info">
    <p>This preview shows the abstract page as it will be updated.
    Please check carefully to ensure that it is correct.<br/ >
    You can continue to make changes until you are
    satisfied with the result.</p>
  </div>

  <div class="box">
    {{ macros.abs(
      submission.arxiv_id,
      submission.metadata.title,
      submission.metadata.authors_display,
      submission.metadata.abstract,
      submission.created,
      submission.primary_classification.category,
      comments = submission.metadata.comments,
      msc_class = submission.metadata.msc_class,
      acm_class = submission.metadata.acm_class,
      journal_ref = form.journal_ref.data,
      doi = form.doi.data,
      report_num = form.report_num.data,
      version = submission.version,
      submission_history = [],
      secondary_categories = submission.secondary_categories) }}
  </div>
  {% else %}
    <h2>arXiv:{{ submission.arxiv_id }}v{{ submission.version }} {{ submission.metadata.title }}</h2>
  {% endif %}


  <form method="POST" action="{{ url_for('ui.jref', submission_id=submission_id) }}">
    <div class="columns">
      <div class="column">
        {{ form.csrf_token }}
        {% with field = form.journal_ref %}
        <div class="field is-short-field">
          <div class="control">
            <label class="label" for="journal_ref">{{ field.label.text }} <a href="{{ url_for('help_jref') }}" class="help-bubble"><i class="fa fa-question-circle is-info"></i><div class="bubble-text">A journal reference includes at least the journal name, volume number, year and page number(s).</div></a></label>
            {% if field.errors %}
              <div class="help is-danger field-error">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            {% if field.description %}
            <p class="help has-text-grey is-marginless">
              {{ field.description|safe }}
            </p>
            {% endif %}
            {% if field.errors %}
              {{ field(class="input is-danger")|safe }}
            {% else %}
              {{ field(class="input")|safe }}
            {% endif %}
          </div>
        </div>
        {% endwith %}

        {% with field = form.doi %}
        <div class="field is-short-field">
          <div class="control">
            <label class="label" for="doi">{{ field.label.text }} <a href="{{ url_for('help_jref') }}" class="help-bubble"><i class="fa fa-question-circle is-info"></i><div class="bubble-text">DOIs have the form number.number/something and you should not include any prefix such as doi:.</div></a></label>
            {% if field.errors %}
              <div class="help is-danger field-error">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            {% if field.description %}
            <p class="help has-text-grey is-marginless">
              {{ field.description|safe }}
            </p>
            {% endif %}
            {% if field.errors %}
              {{ field(class="input is-danger")|safe }}
            {% else %}
              {{ field(class="input")|safe }}
            {% endif %}
          </div>
        </div>
        {% endwith %}

        {% with field = form.report_num %}
        <div class="field is-short-field">
          <div class="control">
            <label class="label" for="report_num">{{ field.label.text }} <a href="{{ url_for('help_jref') }}" class="help-bubble"><i class="fa fa-question-circle is-info"></i><div class="bubble-text">Enter only your institution's locally assigned publication number or numbers. These usually comprise a prefix of a few letters and then sequence numbers and/or year indication.</div></a></label>
            {% if field.errors %}
              <div class="help is-danger field-error">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            {% if field.description %}
            <p class="help has-text-grey is-marginless">
              {{ field.description|safe }}
            </p>
            {% endif %}
            {% if field.errors %}
              {{ field(class="input is-danger")|safe }}
            {% else %}
              {{ field(class="input")|safe }}
            {% endif %}
          </div>
        </div>
        {% endwith %}
      </div>
      <div class="column">
        <div class="message is-link">
          {% if require_confirmation and not confirmed %}
          <div class="message-header">
            <p><span class="icon"><i class="fa fa-info-circle"></i></span>
              Noticed a typo or odd character?</p>
          </div>
          <div class="message-body">
            <p>If the preview doesn't look right, correct it in the form fields and use the "Edit" button to make changes.</p>
          </div>
          {% else %}
          <div class="message-body">
          <p>
            <span class="icon has-text-link"><i class="fa fa-info-circle"></i></span>
            When an article is published, the author may wish to
            indicate this in the abstract listing for the article. For
            this reason, the journal reference and DOI (Digital Object
            Identifier) fields are provided for articles.
            Additionally, a report number field is provided for
            institutional report numbers.
          </p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>


    <div class="buttons submit-nav" role="navigation">
        <a href="{{ url_for('ui.manage_submissions') }}" name="cancel" class="button is-outlined" value="cancel" aria-label="Cancel">Cancel</a>
        {% if require_confirmation and not confirmed %}
        <button name="action" type="submit" class="button is-link is-outlined" value="submit" aria-label="Edit">Edit</button>
        <button name="confirmed" type="submit" class="button is-success" value="1" aria-label="Confirm and Submit">Confirm and Submit</button>
        {% else %}
        <button name="action" type="submit" class="button is-link" value="submit" aria-label="Preview Changes">Preview Changes</button>
        {% endif %}
    </div>
  </form>

{% endblock content %}
