{% extends "submit/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block within_content %}
<h2 class="is-size-4">Select a license</h2>

<div class="field">
{% for subfield in form.license %}
  <div class="control">
    <label class="radio">
    {{subfield}}
    {% if subfield.data %}
        <a href="{{subfield.data}}">{{subfield.label}}</a>
    {% else %}
        {{subfield.label}}
    {% endif %}
    </label>
  </div>
{% endfor %}
</div>

{{ submit_macros.submit_nav() }}
{% endblock within_content %}
