{% extends "submit/base.html" %}

{% block title -%}Select a License{%- endblock title %}

{% block within_content %}

<form method="POST" action="{{ url_for('ui.license',submission_id=submission_id) }}">
  {{ form.csrf_token }}
  <div class="content-container">
    <h2>Submission license details - Scroll to read before selecting a license</h2>
    <div class="policy-scroll" style="max-height:300px;">
      <div class="message is-warning">
        <div class="message-body">
          <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-orange" role="presentation"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/></svg> This license is <a href="{{ url_for('help_license') }}#licenses-granted-are-irrevocable">irrevocable and permanent</a>. If you plan to publish this article in a journal, check the journal's policies before uploading to arXiv.</p>
        </div>
      </div>
      <p>The Submitter is an original author of the Work, or a proxy pre-approved by arXiv administrators acting on behalf of an original author.  By submitting the work to arXiv, the Submitter is:</p>
      <ol>
        <li>Representing and warranting that the Submitter holds the right to make the submission, without conflicting with or violating rights of other persons.</li>
        <li>Granting a license permitting the work to be included in arXiv.</li>
        <li>Agreeing not to sue or seek to recover damages from arXiv, Cornell University, or affiliated individuals based on arXiv's actions in connection with your submission including refusal to accept, categorization, removal, or exercise of any other rights granted under the Submittal Agreement.</li>
        <li>Agreeing to not enter into other agreements or make other commitments that would conflict with the rights granted to arXiv.</li>
      </ol>
      <p>arXiv is a repository for scholarly material, and perpetual access is necessary to maintain the scholarly record.  Therefore, arXiv strives to maintain a permanent collection of submitted works, including actions taken with respect to each work.  Nevertheless, arXiv reserves the right, in its sole discretion, to take any action including to removal of a work or blocking access to it, in the event that arXiv determines that such action is required in order to comply with applicable arXiv policies and laws. Submitters should take care to submit a work to arXiv <em>only if they are certain</em> that they will not later wish to publish it in a journal or other outlet that prohibits prior distribution on an e-print server.  <em>arXiv will not remove an announced article in order to comply with such a journal policy – the license granted on submission is irrevocable</em>.</p>
      <p>arXiv is a service of Cornell University, and all rights and obligations of arXiv are held and exercised by Cornell University.</p>
      <p>If you have any additional questions about arXiv’s copyright and licensing policies, please contact the arXiv administrators directly.</p>
    </div>
  </div>
  <div class="action-container">
    <div class="columns">
      <div class="column is-one-third-tablet is-half-desktop">
        <h3>Select Licence</h3>
        {% if form.license.errors %}<div class="notification is-danger">{% endif %}
        <div class="field" role="group" aria-labelledby="license_options">
          <span id="license_options" class="is-sr-only">Select a license for your submission</span>
          {% for subfield in form.license %}
            <div class="control">
              <label class="radio">
                {{subfield}}
                {{ subfield.label.text }}
              {% if subfield.data %}
                  <a href="{{subfield.data}}" title="license info" class="help-bubble" target="_blank" rel="external">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-blue" role="presentation"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg>
                    <span class="is-sr-only">Information about {{ subfield.label.text }}</span>
                    <div class="bubble-text">Click for license information (opens in a new tab)</div>
                  </a>
              {% endif %}
              </label>
            </div>
          {% endfor %}
        </div>
        {% if form.license.errors %}
          {% for error in form.license.errors %}
            <p class="help is-danger field-error">{{ error }}</p>
          {% endfor %}
        {% endif %}
        {% if form.license.errors %}</div>{% endif %}
      </div>
      <div class="column is-two-thirds-tablet is-half-desktop">
        <div class="message">
          <div class="message-body">
            <p class="is-size-6 is-white has-text-weight-semibold"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon filter-dark_grey" role="presentation"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/></svg> Not sure which license to select?</p>
            <p>See the <a href="{{ url_for('help_license') }}">Discussion of licenses</a> for more information.</p>
            <p>If you wish to use a different CC license, then select arXiv's non-exclusive license to distribute in the arXiv and indicate the desired Creative Commons license in the article's full text.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ submit_macros.submit_nav(submission_id) }}
</form>
{% endblock within_content %}
