{% extends "submit/base.html" %}

{% block title -%}Acknowledge Policy Statement{%- endblock title %}

{% block within_content %}
<ul>
  <li>I confirm that I have the rights to agree to the license designated for this submission.</li>
  <li>I understand that submissions cannot be completely removed once accepted.</li>
  <li>I understand that arXiv reserves the right to reclassify or reject any submission.</li>
  <li>I understand that this submission will automatically be compared with the
    text of other arXiv articles and detected text overlap may be noted.</li>
  <li>I understand that metadata may be corrected to conform to arXiv standards.</li>
  <li>For third-party submissions, I have obtained pre-authorization from arXiv
    to submit as a third-party submitter.</li>
</ul>
<form method="POST" action="{{ url_for('ui.policy', submission_id=submission_id) }}">
  {{ form.csrf_token }}
  {% if form.policy.errors %}<div class="notification is-danger">{% endif %}
  <div class="field">
    <div class="control">
      <div class="checkbox">
        {{ form.policy }}
        {{ form.policy.label }}
      </div>
      {% for error in form.policy.errors %}
        <p class="help is-danger">{{ error }}</p>
      {% endfor %}
    </div>
  </div>
  {% if form.policy.errors %}</div>{% endif %}

  {{ submit_macros.submit_nav(submission_id) }}
</form>
{% endblock within_content %}
