{% extends "submit/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block content %}
<h1 class="title">Start a New Replacement</h1>

{% if submission and submission.version >= 1 %}
  <h2 class="replacement is-size-5 subtitle">Replacing arXiv:{{ submission.arxiv_id }}v{{ submission.version }} {{ submission.metadata.title }}</h2>
{% endif %}

<div class="message is-link">
  <div class="message-body">
    <p><span class="icon is-link"><i class="fa fa-info-circle"></i></span>Replacing an article will create a new version of the article. Previous versions of the article will continue to be publicly available at arXiv.</p>
  </div>
</div>

<p>Considerations when replacing an article:</p>
<ul>
  <li>You may use the Comments field to inform readers about the reason for the replacement.</li>
  <li>A new version of the article will be generated.</li>
  <li>After the fifth revision, papers will not be announced in the daily mailings.</li>
</ul>

<p>You can add a DOI, journal reference, or report number without submitting a replacement if that is the only change being made. To do so, cancel this replacement and <a href="{{ url_for('ui.jref', submission_id=submission.submission_id) }}">submit a journal reference.</a></p>

<form class="form" method="POST" action="{{ url_for('ui.create_replacement', submission_id=submission.submission_id) }}">
  {{ form.csrf_token }}
  <input type="hidden" name="confirmed", value="true" />
  <div class="buttons submit-nav" role="navigation">
      <a href="{{ url_for('ui.manage_submissions') }}" name="cancel" class="button is-outlined" value="cancel" aria-label="Cancel">Cancel</a>
      <button name="new" class="button is-link is-small" value="new" aria-label="New version (replacement)">I understand, replace this article</button>
  </div>
</form>

{% endblock content %}
