{% macro submit_nav(submission_id) %}

  <div class="buttons submit-nav" role="navigation" aria-label="Submission form controls">
      <!-- <a href="{{ url_for('ui.create_submission') }}" class="button is-size-6 is-size-7-mobile" value="previous" aria-label="Manage Submissions">Manage Submissions</a> -->
      <button name="action" class="button is-size-6 is-size-7-mobile" value="previous" aria-label="Go back one step">Go Back</button>
      <button name="action" type="submit" class="button is-size-6 is-size-7-mobile" value="save_exit" aria-label="Save and Exit">Save & Exit</button>
      <button name="action" class="button is-success is-size-6 is-size-7-mobile" value="next" aria-label="Save and continue">Save & Continue</button>
  </div>

{% endmacro %}

{% macro progress_bar(submission_id, workflow, this_stage) %}
  <nav class="submit-pagination is-hidden-mobile" aria-labelledby="progress">
    <p class="is-sr-only" id="progress">Steps in Submission Process</p>
    <ul class="progressbar">
        {% if this_stage %}
        {% set before = workflow.workflow.order[:workflow.index(this_stage)] %}
        {% else %}
        {% set before = [] %}
        {% endif %}

        {% for stage in workflow.workflow %}
        {% set earlier = stage in before %}
        {% set complete = workflow.is_seen(stage) and workflow.is_done( stage ) %}
        
        <li class="{% if complete %}is-complete{% endif %} 
                   {% if this_stage == stage %}is-active{% endif %}">
          <a class="is-size-7" title="{{ stage.title }}"
             href="{% if submission_id %} 
                    {{ url_for('ui.' + stage.endpoint, submission_id=submission_id) }}
                   {% endif %}">
              {% if earlier or this_stage == stage %}
              <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon filter-grey" role="presentation"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg> -->            
              {% endif %}
          {{ stage.display }}
          </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}
