{% macro submit_nav() %}

  <div class="buttons submit-nav" role="navigation">
      <button name="cancel" class="button has-text-grey is-light is-outlined" style="border:0" value="cancel" aria-label="Cancel submission" title="Cancel submission"><span class="icon"><i class="fa fa-trash fa-lg"></i></button>
      <button name="action" class="button" value="previous" aria-label="Go back one step">Go Back</button>
      <button name="action" type="submit" class="button" value="save_exit" aria-label="Save and Exit">Save and Exit</button>
      <button name="action" class="button is-link" value="next" aria-label="Save and continue">Save and Continue</button>
  </div>

{% endmacro %}

{% macro progress_bar(submission_id) %}
{# TODO: make this into a real navigation mechanism, with variables to relate
   tooltips, page name, template, and page order. Also real routenames instead
   of this initial hack. #}
  <nav class="level">
    <ul class="progressbar is-marginless">
      <li class="level-item"><a class="is-size-7" title="Verify user info" href="{% if submission_id %}{{ url_for('ui.verify_user', submission_id=submission_id) }}{% endif %}">Verify User</a></li>
      <li class="level-item"><a class="is-size-7" title="Authorship" href="{% if submission_id %}{{ url_for('ui.authorship', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">Authorship</a></li>
      <li class="level-item"><a class="is-size-7" title="License" href="{% if submission_id %}{{ url_for('ui.license', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">License</a></li>
      <li class="level-item is-active"><a class="is-size-7" title="Acknowledge policy" href="{% if submission_id %}{{ url_for('ui.policy', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">Policy</a></li>
      <li class="level-item"><a class="is-size-7" title="Primary class" href="{% if submission_id %}{{ url_for('ui.classification', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">Category</a></li>
      <li class="level-item"><a class="is-size-7" title="Cross-list" href="{% if submission_id %}{{ url_for('ui.cross_list', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">Cross-list</a></li>
      <li class="level-item"><a class="is-size-7" title="File upload" href="{% if submission_id %}{{ url_for('ui.file_upload', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">Upload Files</a></li>
      <li class="level-item"><a class="is-size-7" title="File process" href="{% if submission_id %}{{ url_for('ui.file_process', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">Process Files</a></li>
      <li class="level-item"><a class="is-size-7" title="Add metadata" href="{% if submission_id %}{{ url_for('ui.add_metadata', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">Metadata</a></li>
      <li class="level-item"><a class="is-size-7" title="Add optional metadata" href="{% if submission_id %}{{ url_for('ui.add_optional_metadata', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">Opt. Metadata</a></li>
      <li class="level-item"><a class="is-size-7" title="Final preview" href="{% if submission_id %}{{ url_for('ui.final_preview', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">Preview</a></li>
      <li class="level-item"><a class="is-size-7" title="Submission confirmed" href="{% if submission_id %}{{ url_for('ui.confirm_submit', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">Confirmed</a></li>
    </ul>
  </nav>

{% endmacro %}
