<html>
 <head>
  <style>
    .tex-info { background-color: rgba(0, 104, 173, 0.15); color: rgba(8, 32, 49, 1); padding: 0 0.2em; }
    .tex-warning { background-color: rgba(214, 118, 0, 0.4); color: rgba(33, 22, 8, 1); padding: 0 0.2em; }
    .tex-danger { background-color: rgba(204, 3, 0, 0.3); color: rgba(52, 15, 14, 1); padding: 0 0.2em; }
    .tex-fatal { background-color: rgba(205, 2, 0, 1); color: rgba(255, 255, 255, 1); padding: 0 0.2em; }
    .regex { background-color: #ddd; color: maroon; padding: 0.05em 0.2em; border: 1px solid maroon; }
  </style>
  </head>
 <body>
   <h1>Testing Document</h1>
   <p>This is a snippet of TeX log done in plain old HTML, to very rapidly test CSS for log highlighting. It is also self-documenting for the list of terms to highlight. Can be removed if there is no use for it in also testing regexes or other log functions.</p>
   <div style="float: right; width: 40%">
    <p>Terms to highlight with <span class="tex-info">info</span>:<br />
     ~~ (*) ~~ <span class="regex">/~+.*~+/g</span>
    </p>
    <p>Terms to highlight with <span class="tex-warning">warning</span>, case insensitive:<br />
      Warning<br />
      Citation (*) undefined<br />
      No (*) file<br />
      Unsupported<br />
      Unable<br />
      Ignore<br />
      Undefined<br />
    </p>
    <p>Terms to highlight with <span class="tex-danger">danger</span>, case insensitive:<br />
      !(any number repeating) or !==> <span class="regex">/!+(==>)?/g</span><br />
      Error or [error] <span class="regex">/\[?\berror\b\]?/gi</span><br />
      Failed<br />
      Emergency stop<br />
      File (*) not found<br />
      Not allowed<br />
      Does not exist<br />
    </p>
    <p>Terms to highlight with <span class="tex-fatal">fatal</span>, case insensitive:<br />
      Fatal<br />
      Fatal (*) error <span class="regex">/\bfatal\b[\W\w]*?\berror\b/gi</span><br />
    </p>
   </div>
   <p>
    [verbose]: pdflatex 'main.tex' <span class="tex-danger">failed</span>.<br />
    [verbose]: 'htex' is not a valid TeX format; will <span class="tex-warning">ignore</span>.<br />
    [verbose]: TEXMFCNF is unset.<br />
    [verbose]: <span class="tex-info">~~~~~~~~~~~ Running htex for the first time ~~~~~~~~</span><br />
    [verbose]: Running: "(export HOME=/tmp PATH=/texlive/2016/bin/arch:/bin; cd /submissions/2409425/ && tex 'main.tex' < /dev/null)" 2>&1<br />
    [verbose]: This is TeX, Version 3.14159265 (TeX Live 2016) (preloaded format=tex)<br />
    (./main.tex<br />
    <span class="tex-danger">!</span> <span class="tex-warning">Undefined</span> control sequence.<br />
    l.1 \documentclass<br />
    [runningheads,a4paper]{llncs}<br />
    ?<br />
    <span class="tex-danger">! Emergency stop.</span><br />
    l.1 \documentclass<br />
    [runningheads,a4paper]{llncs}<br />
    No pages of output.<br />
    Transcript written on main.log.<br />
  <br />
    [verbose]: tex 'main.tex' <span class="tex-danger">failed</span>.<br />
    [verbose]: TEXMFCNF is unset.<br />
    [verbose]: <span class="tex-info">~~~~~~~~~~~ Running tex for the first time ~~~~~~~~</span><br />
    [verbose]: Running: "(export HOME=/tmp PATH=/texlive/2016/bin/arch:/bin; cd /submissions/2409425/ && tex 'main.tex' < /dev/null)" 2>&1<br />
    [verbose]: This is TeX, Version 3.14159265 (TeX Live 2016) (preloaded format=tex)<br />
    (./main.tex<br />
    <span class="tex-danger">!</span> <span class="tex-warning">Undefined</span> control sequence.<br />
    l.1 \documentclass<br />
    [runningheads,a4paper]{llncs}<br />
    ?<br />
    <span class="tex-danger">! Emergency stop.</span><br />
    l.1 \documentclass<br />
    [runningheads,a4paper]{llncs}<br />
    No pages of output.<br />
    Transcript written on main.log.<br />
  <br />
    [verbose]: <span class="tex-fatal">Fatal error</span>
    [verbose]: tex 'main.tex' <span class="tex-danger">failed</span>.<br />
    [verbose]: We <span class="tex-danger">failed</span> utterly to process the TeX file 'main.tex'<br />
    <span class="tex-danger">[error]:</span> Unable to sucessfully process tex files.<br />
    *** AutoTeX ABORTING ***<br />
  <br />
    [verbose]: AutoTeX returned <span class="tex-danger">error:</span> <span class="tex-warning">Unable</span> to sucessfully process tex files.
    </p>
</body>
</html>
