{% extends "submit/base.html" %}



{% block within_content %}

<h2 class="is-size-4">Verify your contact information</h2>
<p><span class="label">Forename:</span> {{ user.name.forename }}</p>
<p><span class="label">Surname:</span> {{ user.name.surname }}</p>
<p><span class="label">Suffix:</span> {{ user.name.suffix }}</p>
<p><span class="label">Affiliation:</span> {{ user.profile.affiliation }}</p>
<p><span class="label">E-mail:</span> {{ user.email }}</p>

<form method="POST" action="{% if submission_id %}{{ url_for('ui.verify_user', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">
  <div class="field">
    <div class="control">
      <div class="checkbox">
        {{ form.verify_user }}
        {{ form.verify_user.label }}
      </div>
      {% for error in form.verify_user.errors %}
        <p class="help is-warning">{{ error }}</p>
      {% endfor %}
    </div>
</div>

{{ submit_macros.submit_nav() }}
</form>
{% endblock within_content %}
