{% extends "submit/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block within_content %}

<h2 class="is-size-4">Verify your contact information</h2>
<div class="field is-horizontal">
    <div class="field-label">
      <span class="has-text-weight-semibold">First or given name:</span>
    </div>
    <div class="field-body"><span class="is-expanded">Ima</span></div>
</div>
<div class="field is-horizontal">
  <div class="field-label">
    <span class="has-text-weight-semibold">Last or family name:</span>
  </div>
   <div class="field-body">Nauthor</div>
</div>
<div class="field is-horizontal">
  <div class="field-label">
    <span class="has-text-weight-semibold">Suffix:</span>
  </div>
  <div class="field-body">&nbsp;</div>
</div>
<div class="field is-horizontal">
  <div class="field-label">
    <span class="has-text-weight-semibold">Affiliation:</span>
  </div>
  <div class="field-body">Cornell University</div>
</div>
<div class="field is-horizontal">
  <div class="field-label">
    <span class="has-text-weight-semibold">E-mail:</span>
  </div>
  <div class="field-body">ian413@cornell.edu</div>
</div>

<form method="POST" action="{% if submission_id %}{{ url_for('ui.verify_user', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">
  <div class="field">
    <div class="control">
      <div class="checkbox">
        {{ form.verify_user }}
        {{ form.verify_user.label }}
      </div>
      {% for error in form.verify_user.errors %}
        <p class="help is-danger">{{ error }}</p>
      {% endfor %}
    </div>
</div>

{{ submit_macros.submit_nav() }}
</form>
{% endblock within_content %}
