{% extends "submit/base.html" %}

{% block title -%}Verify your contact information{%- endblock title %}

{% block within_content %}
<div class="columns">
  <div class="column is-two-thirds-tablet">
    <article class="user-info">
      <div class="field is-horizontal">
          <div class="field-label">
            <span class="has-text-weight-semibold">First or given name(s):</span>
          </div>
          <div class="field-body"><span class="is-expanded">{{ user.name.forename }}</span></div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <span class="has-text-weight-semibold">Last or family name(s):</span>
        </div>
         <div class="field-body">{{ user.name.surname }}</div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <span class="has-text-weight-semibold">Suffix:</span>
        </div>
        <div class="field-body">{{ user.name.suffix }}</div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <span class="has-text-weight-semibold">Affiliation:</span>
        </div>
        <div class="field-body">{{ user.profile.affiliation }}</div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <span class="has-text-weight-semibold">E-mail:</span>
        </div>
        <div class="field-body">{{ user.email }}</div>
      </div>
    </article>
  </div>
  <div class="column">
    <div class="message is-info">
      <div class="message-body">
        <div class="is-pulled-left">
          <span class="icon has-text-link"><i class="fa fa-info-circle"></i></span>
        </div>
      <p>Check this information carefully!</p>
      <p>A <span class="has-text-weight-bold">current email address is required</span> to complete your submission.</p>
      <p><a class="button" href="{{ url_for('account') }}">Edit User Information</a>
      </div>
    </div>
  </div>
</div>

<form method="POST" action="{% if submission_id %}{{ url_for('ui.verify_user', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">
  {{ form.csrf_token }}
  {% if form.verify_user.errors %}<div class="notification is-danger">{% endif %}
  <div class="field">
    <div class="control">
      <div class="checkbox">
        {{ form.verify_user }}
        {{ form.verify_user.label }}
      </div>
      {% for error in form.verify_user.errors %}
        <p class="help is-danger">{{ error }}</p>
      {% endfor %}
    </div>
  </div>
  {% if form.verify_user.errors %}</div>{% endif %}

{{ submit_macros.submit_nav(submission_id) }}
</form>
{% endblock within_content %}
