@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .box {
    padding: unset;
  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  .table td, .table th {
    padding-left: 30%;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 30%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td.user-submission:nth-of-type(1):before {
    content: "Status";
    font-weight: bold;
  }

  td.user-submission:nth-of-type(2):before {
    content: "Identifier";
    font-weight: bold;
  }

  td.user-submission:nth-of-type(3):before {
    content: "Title";
    font-weight: bold;
  }

  td.user-submission:nth-of-type(4):before {
    content: "Created";
    font-weight: bold;
  }

  td.user-submission:nth-of-type(5):before {
    content: "Actions";
    font-weight: bold;
  }

  td.user-announced:nth-of-type(1):before {
    content: "Identifier";
    font-weight: bold;
  }

  td.user-announced:nth-of-type(2):before {
    content: "Primary Classification";
    font-weight: bold;
  }

  td.user-announced:nth-of-type(3):before {
    content: "Title";
    font-weight: bold;
  }

  td.user-announced:nth-of-type(4):before {
    content: "Actions";
    font-weight: bold;
  }
}
