@charset "UTF-8";
.section {
  /* move this to base as $section-padding */
  padding: 1em 0; }

.button.is-short {
  height: 1.75em; }

.content h2.replacement {
  margin-top: -2rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 400; }

.submit-nav {
  margin-top: 2.5rem; }

.form-margin {
  margin: 0.4em 0; }

.content h1.title {
  margin-bottom: 2.5rem; }

.texlive-summary article {
  padding: 0.8rem; }
  .texlive-summary article:not(:last-child) {
    margin-bottom: 0.5em;
    border-bottom-width: 1px;
    border-bottom-style: dotted; }

.beta-before::before {
  content: "β";
  color: rgba(204, 204, 204, 0.5);
  font-size: 10em;
  position: absolute;
  top: -0.4em;
  left: -0.25em;
  line-height: 1;
  font-family: serif; }

/* overrides for this form only? may move to base */
.field:not(:last-child) {
  margin-bottom: 1.25em; }

.label:not(:last-child) {
  margin-bottom: 0.25em; }

.buttons .button:not(:last-child) {
  margin-right: 0.75rem; }

/* tightens up user data display on verify user page */
.user-info {
  margin-bottom: 1rem; }
  .user-info .field {
    margin-bottom: 0.5rem; }
    .user-info .field .field-label {
      flex-grow: 2; }

.control .radio {
  margin-bottom: 0.25em; }

/* Classes for zebra striping and nested directory display */
ol.file-tree {
  margin: 0 0 1rem 0; }
  ol.file-tree li {
    margin-top: 0;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    background-color: white; }
    ol.file-tree li.even {
      background-color: #E8E8E8; }
  ol.file-tree .columns {
    margin: 0; }
  ol.file-tree .column {
    padding: 0; }
    ol.file-tree .column .columns {
      margin: 0; }
  ol.file-tree > li ol {
    border-left: 2px solid #CCC;
    margin: 0 0 0 1rem; }
    ol.file-tree > li ol li {
      padding-left: 1em; }
      ol.file-tree > li ol li:first-child {
        margin-top: 0; }

/* For highlighting TeX logs */
.tex-info {
  background-color: rgba(0, 104, 173, 0.15);
  color: #082031;
  padding: 0 0.2em; }

.tex-warning {
  background-color: rgba(214, 118, 0, 0.4);
  color: #211608;
  padding: 0 0.2em; }

.tex-danger {
  background-color: rgba(204, 3, 0, 0.3);
  color: #340f0e;
  padding: 0 0.2em; }

.tex-fatal {
  background-color: #cd0200;
  color: rgba 255, 255, 255, 1;
  padding: 0 0.2em; }

/* Classes for responsive bubble-style progress bar */
ul.progressbar {
  width: 100%;
  display: flex;
  margin: 0 0 2.5em 0; }
  ul.progressbar > li {
    text-align: center;
    list-style: none;
    position: relative;
    margin-top: 1em;
    width: 100%; }
    ul.progressbar > li > a {
      display: block;
      color: #222;
      line-height: 2em; }
      ul.progressbar > li > a:before {
        content: "";
        display: block;
        position: relative;
        margin: 0 auto 4px;
        background-color: #FFF;
        width: 16px;
        height: 16px;
        text-align: center;
        border: 5px solid #ccc;
        border-radius: 50%; }
      ul.progressbar > li > a:hover {
        border-bottom: 1px solid transparent; }
        ul.progressbar > li > a:hover:before {
          border-width: 6px;
          transform: scale(1.6);
          box-shadow: 0px 0px 1px 0.5px #999; }
    ul.progressbar > li:after {
      content: "";
      height: 16px;
      width: 100%;
      background-color: #ccc;
      position: absolute;
      top: 0;
      right: 50%;
      z-index: -1; }
    ul.progressbar > li:first-child:after {
      display: none; }
    ul.progressbar > li.is-active > a:before {
      background-color: #FFF;
      border-color: #0068ac;
      border-width: 2px;
      transform: scale(1.6); }
    ul.progressbar > li.is-complete:after {
      background-color: #0068ac; }
    ul.progressbar > li.is-complete > a:before {
      background-color: #FFF;
      border-color: #0068ac; }

/* info and help bubbles */
.help-bubble {
  position: relative;
  display: inline-block; }
  .help-bubble:hover .bubble-text {
    visibility: visible; }
  .help-bubble .bubble-text {
    position: absolute;
    visibility: hidden;
    width: 160px;
    background-color: #F5FAFE;
    border: 1px solid #0068AC;
    color: #0068AC;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 0.8rem; }
    .help-bubble .bubble-text:after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #0068AC transparent transparent transparent; }

/*# sourceMappingURL=submit.css.map */
